@media screen and (min-width: 425px) {
    .img-media {
        display: none;
    }
    footer {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .BG {
        display: none;
    }
    body {
        
        display: grid;
    }
    .img-media {
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        z-index: -1;

    }
    .info {
        padding: 24px;
        padding-left: 40px;
        padding-top: 240px;
    }
    .info .btn1 i {
        display: none;
    }
    .info .btn1 {
        display: flex;
        justify-content: center;
        width: 327px;
        height: 48px;
        background-color: #32B7C5;
    }
    .info h3 {
        font-size: 14px;
    }
    .input-container input {
        
    }
    footer {
        display: grid;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 20px;
    }
    footer p {
        color:#32B7C5;
        margin-bottom: 20px;
    }
    footer div a {
        font-size: 18px;
        margin-right: 10px;
        color: #32B7C5;
        text-decoration: none;
        transition: 0.6s ease;
    }
    footer div a:hover {
        transform: scale(1.1);
    }
}